/* Nav Bar */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav {
  overflow: hidden;
  background-color: #1c588c;
}

a:hover {
  background-color: #ddd;
  color: #1c588c;
}

h2 a {
  color: #9bb6b5;
  text-decoration: none;
}

h2 a:hover {
  background-color: transparent;
}