/* Nav Bar */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
  font-size: 17px;
}

.topnav {
  overflow: hidden;
  background-color: #1c588c;
}

.topnav a:hover {
  background-color: #ddd;
  color: #1c588c;
}

#header {
  position: sticky;
  top: 0;
  background-color: white;
}

/* Main Style */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #1c588c;
}

h2 {
  color: #9bb6b5;
}

.content {
  padding-left: 80px;
  padding-right: 80px;
  margin: auto;
  padding-bottom: 80px;
  max-width: 1000px;
}

/* Center images */
img {
  max-width: 1000px;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Notes */
blockquote {
  background-color: #e7f3fe;
  border-left: 6px solid #2196F3;
  margin: 1.5em 25px;
  padding: 1px 10px;
}
 
/* Tables */
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #1c588c;
  color: white;
}
